@import 'colors';

.slider {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  &__arrow {
    display: flex;
    flex-direction: column;

    &_label {
      color: $black;
      font-size: 0.875rem;
    }
  }
}
