@import 'colors';

.input {
  max-width: 9rem;
  width: 100%;
  border-radius: 3px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 13px;
  margin-right: 2rem;
  background-color: rgba(0, 0, 0, 0.08);
  border: none;
  border-radius: 15px;
  color: $black;

  &:hover {
    border-color: $black;
  }
}

.ant-picker-focused {
  border-color: $goldenSand;
  box-shadow: none;
}
.ant-picker-range .ant-picker-active-bar {
  background: $creamCan;
}

//.anticon svg {
//  display: none;
//}
