@import 'colors';
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__current-date {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
  }
}
.table {
  font-style: normal;
  max-width: 22rem;
  width: 100%;

  &__row {
    &:last-child td,
    &:last-child th {
      border: 0;
    }
  }
  &__artist {
    font-weight: 400;
    font-size: 0.875rem;
    margin: 0.8rem 0 0.625rem;
  }
  &__button {
    background-color: $creamCan;
    border-radius: 0.5rem;
    border: none;
    height: 1.5rem;
    letter-spacing: 0.15px;
    max-width: 5.56rem;
    width: 100%;
  }

  &__place {
    margin: 0;
  }
}
.button-follow {
  background-color: $waikawaGray;
  border-radius: 0.5rem;
  border: none;
  color: $white;
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  height: 2.75rem;
  margin-top: 1rem;
  width: 100%;
}
